h1{
color: blue;


}


ul {

    border: 5px dashed;
    text-align: center;
    list-style: none;
    padding-left: 0;
    width: 50%;
    margin: auto;

}

ul li {

    border: 3px outset;
    display: inline-block;

}

body.gallerypage{
    background-image: url(https://a.cdn-hotels.com/gdcs/production159/d204/01ae3fa0-c55c-11e8-9739-0242ac110006.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 25%;
}

img{
    border-style: double;
    min-height: 4in;
    min-width: 4in;
    max-width: 4in;
    max-height: 4in;
    border-width: 0.3in;

}

p{
    text-align: center;
    border-style: dotted;
    background-color: crimson;
    border-color: crimson;

}

h1{
    text-align: center;
}